In [15]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re 
import nltk
import string
from nltk.corpus import stopwords
#nltk.download('stopwords')


pd.set_option("display.max_colwidth", None)

In [30]:
# PARA ROTACIONAR GRÁFICO 3D
%matplotlib notebook

import pandas as pd
import numpy as np
from scipy.stats import norm, probplot
import statsmodels.api as sm
import matplotlib.pyplot as plt

from mpl_toolkits.mplot3d import Axes3D

# Para ter melhor print
from IPython.display import display

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\jpthe\Documents\Ciencia de Dados\CD21-2-main\Projeto 2\p2cdados

In [17]:
### Função utilitária para fazer a regressão com constante adicionada

def regress(Y,X):
    '''
    Y: coluna do DataFrame utilizada como variável resposta (TARGET)
    X: coluna(s) do DataFrame utilizadas como variável(is) explicativas (FEATURES)
    '''
    X_cp = sm.add_constant(X)
    model = sm.OLS(Y,X_cp)
    results = model.fit()
    
    return results

In [22]:
filename = 'Housing.xlsx'
teste = pd.read_excel(filename)
teste.head()
data = pd.read_csv("housing.csv")

In [63]:
data.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [76]:
filtra_linhas_0 = data['total_bedrooms'] != 0
datan = data.loc[filtra_linhas_0, :]
df = datan[['longitude', 'latitude', 'housing_median_age', 'total_rooms', 
            'population', 'households', 'median_income', 'median_house_value', 'ocean_proximity']]

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [77]:
X = df[['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'population', 'households', 'median_income']]
Y = df['median_house_value']

In [78]:
results = regress(Y,X)
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     median_house_value   R-squared:                       0.632
Model:                            OLS   Adj. R-squared:                  0.632
Method:                 Least Squares   F-statistic:                     5070.
Date:                Tue, 23 Nov 2021   Prob (F-statistic):               0.00
Time:                        16:02:03   Log-Likelihood:            -2.5954e+05
No. Observations:               20640   AIC:                         5.191e+05
Df Residuals:                   20632   BIC:                         5.192e+05
Df Model:                           7
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const              -3.506e+06   6.27e+04    -55.905      0.000   -3.63e+06   -3.38e+06
longitude          -4.207e+04    716.169    -58.748      0.000   -4.35e+04   -4.07e+04
latitude           -4.229e+04    677.404    -62.429      0.000   -4.36e+04    -4.1e+04
housing_median_age  1125.2551     43.406     25.924      0.000    1040.176    1210.334
total_rooms           -1.7719      0.689     -2.571      0.010      -3.123      -0.421
population           -43.2018      1.048    -41.238      0.000     -45.255     -41.148
households           149.3997      4.343     34.399      0.000     140.887     157.913
median_income       3.835e+04    316.526    121.155      0.000    3.77e+04     3.9e+04
==============================================================================
Omnibus:                     5305.354   Durbin-Watson:                   0.940
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            20635.943
Skew:                           1.237   Prob(JB):                         0.00
Kurtosis:                       7.227   Cond. No.                     5.01e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.01e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

longitude             0.0
latitude              0.0
housing_median_age    0.0
total_rooms           0.0
total_bedrooms        0.0
population            0.0
households            0.0
median_income         0.0
median_house_value    0.0
ocean_proximity       0.0
dtype: float64

In [16]:
# Importando as bibiliotecas necessárias
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
# Definindo nossa coluna de interesse "finalG" e separando ela do DF a ser analisado pelo modelo
labels = np.array(data['preço'])
data = data.drop('preço', axis = 1)

# Fazendo uma lista com as colunas do DF
data_list = list(data.columns)

In [ ]:
# Importando bibliote do RandomForest
from sklearn.ensemble import RandomForestRegressor

# Criando modelo
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(train_data, train_labels)

# Criando previsões
predictions_rf = rf.predict(test_data)